body{
    font-family: "Oswald", sans-serif;
}
.card img{
    height: 350px;
    object-fit: cover;
}
.dropdown-item:hover{
    background-color: blue !important;
    color: white !important;
} 
@media (min-width: 992px) { 
    .slider{
        width: 25%;
    }
 }
#open{
    cursor: pointer;
}